<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C0D811F2BA343B5008669B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB22F0A2BBE8C2500DFBB69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC6FFE32BA453EE0062E39B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
